.create-post_text-area {
  width: 100%;
  color: var(--font-color-primary);
  font-weight: 500;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  border-radius: 5px;
  resize: none;
  outline: none;
  height: 9rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.create-post_text-area:hover {
  cursor: pointer;
  border: 2px solid var(--secondary-color-light);
}

.create-post_popup-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
  width: 80rem;
  border-radius: 3px;
  background-color: var(--background-secondary);
}

.create-post_popup-title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.create-post_popup_text-area {
  resize: vertical;
  min-height: 6rem;
  max-height: 20rem;
}
