.button {
  padding: 1.1rem 2.5rem;
  border-radius: 5px;
  font-weight: 600;
  transform: translateY(0px);
  transition: all 0.2s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.button:hover {
  transform: translateY(-1px);
  cursor: pointer;
}
.button:active {
  transform: translateY(-0.5px);
}
.button_fill {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.button_outline {
  box-shadow: inset 0 0 0 2px var(--font-color-tertiary);
  color: var(--font-color-tertiary);
}
