.button {
  padding: 1.1rem 2.5rem;
  border-radius: 5px;
  font-weight: 600;
  transform: translateY(0px);
  transition: all 0.15s;
  box-shadow: none;
  display: flex;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.button:hover {
  transform: translateY(-2px);
  cursor: pointer;
  color:var(--primary-color--light);
  box-shadow: -1px 1px 4px rgba(0,0,0,.7);
}
.button:active {
  transform: translateY(-1px);
  box-shadow: -1px .5px 3px rgba(0,0,0,.7);
}
.button_fill {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.button_outline:hover{
  box-shadow: inset 0 0 0 2px var(--font-color-tertiary);
  color: var(--font-color-tertiary);  
}
.button_outline {
  box-shadow: inset 0 0 0 2px var(--font-color-tertiary);
  color: var(--font-color-tertiary);
}

.button_team{
  border-radius: 5px;
  height: 100%;
}