.feed{
    grid-area: feed;
    width:100%;
    max-width: 115rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns:21rem 1fr 21rem;
    column-gap: 4rem;
    row-gap: 1rem;
    grid-template-rows: 6rem 1fr;
    grid-template-areas:
    ". user user"
    "side work-space .";
}