.team-card{
    background-color: red;
    width: 100%;
    height: 7rem;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    z-index: 0;
}

.team-card:not(:first-child){
    margin-top: 2rem;
}

.team-card:hover{
    cursor: pointer;
}

.team-card:hover .team-card_image{
    transform: translate(-50%, -50%) scale(1.01);
}

.team-card::after{
    z-index: 1;
    content: "";
    width:110%;
    height: 110%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: var(--secondary-color-background);
}

.team-card_image{
    position: absolute;
    width: 100%;
    top:50%;
    left:50%;
    transition: all .2s;
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform:translate(-50%,-50%) scale(1.1);
}

.team-card_text{
    color:red;
    position: relative;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    font-weight: 600;
    color:var(--font-color-primary-light);
}

.team-card_title{
    font-size: 1.7em;
}

.team-card_subtitle{
    font-size: 1.1em;
}
