.user {
  position: relative;
  display:grid;  
  grid-area: user;
  grid-template-columns: 1fr 5rem;
  justify-items: center;
  align-items: center;
  grid-template-areas: "name photo";
  color:rgba(10,10,10,.7);
  
}
.user_contact{
  margin-right: .5rem;
  width:100%;
  height: 100%;
  grid-area: name;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.user_contact_name{
  font-weight: 600;
  font-size: 1.7rem;
}
.user_contact_mail{
  font-size: 1rem;
}


.user_container-photo {
  grid-area: photo;
  width: 4rem;
  height: 4rem;
  position: relative;
}

.user_photo {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.user_container-photo:hover.user_container-photo:before {
  transform: scale(1.2, 1.2);
}
.user_container-photo:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.2);
  transform: scale(.9, .9);
  transition: all .2s ease-out;
}

.user_photo:hover {
  cursor: pointer;
}

.user_menu {
  width: 23rem;
  background-color: pink;
  position: absolute;
  top: 110%;
  left: 100%;
  transform: translateX(-100%);

  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user_menu_option {
  font-size: 1.5rem;
  text-align: left;
  padding: 1.5rem 1.8rem;
  transition: all 0.2s;
}

.user_menu_option:hover {
  color: black;
  cursor: pointer;
}
.user_menu_option:not(:last-child) {
  border-bottom: 1px solid black;
}
