
:root {
  --font-color-primary: #3b3b3b;
  --font-color-secondary: #fff7f7;
  --font-color-tertiary: #2A5154;
  

  --font-color-primary-light: #707070;

  --primary-color: #204969;
  --primary-color--light: #453880;
  --secondary-color: #26be9d;
  --secondary-color-light: #5cc2b2;
  --secondary-color-light-fadded: #5cc2b350;

  --secondary-color-background: rgba(201, 220, 224, 0.726);

  --background-primary: #fff7f7;
  --background-secondary: #dadada;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
