.post_todo{
    padding: 2rem 3rem;
}
.post_todo_title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    
}
.post_todo_list-container{
    padding: 2rem 2rem;
    border-top: 1px solid var(--secondary-color-light-fadded);
    border-bottom: 1px solid var(--secondary-color-light-fadded);

}
.post_todo_element{
    font-size: 2rem;
}

.post_todo_element--completed{
    color:var(--secondary-color);
    text-decoration: line-through;
}