.post_todo{
    padding: 0rem 3rem;
    margin-bottom: 2rem;
}
.post_todo_title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    
}

.post_todo_element{
    font-size: 2rem;
}

.post_todo_element--completed{
    color:var(--secondary-color);
    text-decoration: line-through;
}
.post_todo_list-container{
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 1rem;
}